<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
</head>
<body class="Site {{ page.layout }}-page"> <!-- Keeps the footer down! -->
    <header class="header">
        <div class="header-container">
            <div class="blog-title">Gilmore Girls Blog</div>
            <nav class="navbar">
                <ul class="nav-links">
                    <li><a href="/about" {% if page.title == "About" %}class="active-page"{% endif %}>About</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="snow-body">
        <div class="snow-container">
            <span class="snow-fit-text">{{content}}</span>
        </div>
    </main>
    <div class="push"></div>
    <footer class="footer">
        <p class="footer-links">Created and maintained by <a href=mailto:"{{site.email}}">Rich</a> aka Dairyman<br>
            &copy; {{ site.title }} {{ "now" | date: "%Y" }}
    </footer>
</body>
</html>